<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://{{ hadoop_namenode_uri }}:{{ hadoop_namenode_port }}</value>
  </property>
</configuration>
