<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
  <property>
    <name>dfs.namenode.name.dir</name>
    <value>{{ hadoop_binary_dir }}/data/nameNode</value>
  </property>
  <property>
    <name>dfs.datanode.data.dir</name>
    <value>{{ hadoop_binary_dir }}/data/dataNode</value>
  </property>
  <property>
    <name>dfs.replication</name>
    <value>{{ hadoop_dfs_replicas }}</value>
  </property>
</configuration>
